.insurer-overview {
    list-style-type: none;

    &__insurer {
        @include clearfix;
        margin: 1rem 0;
        padding: 1rem;
        background: #fff;

        &:first-child{
            margin: 0 0 1rem;
        }

        &__name {
            font-size: 14pt;
            font-weight: 600;
            margin: 0 0 .4rem;
        }

        &__parent {
            margin: 0 0 .4rem;
        }

        &__contracts {
            @include clearfix;

            &__title{
                margin: 1rem 0 .3rem;
                font-size: 11pt;
            }

            &__hospital{
                float:left;
                margin: 0 .5rem 0 0
            }
        }

    }

}