$font-family: 'Alata', sans-serif;
$font-size: 11pt;

$text-color: #533747;
$primary-color: #336699;
$secondary-color: #6A6B83;
$background-primary: #86BBBD;
$background-secondary: #76949F;

$max-width: 81.25rem;